<div class="my-4 text-center">
    <a class="text-lg font-bold text-color1" href="/">Title Here</a>
</div>
<nav class="text-center space-x-10">
    <a href="/about" class="p-1 text-white bg-color1">About</a>
    <a href="/blog" class="p-1 text-white bg-color1">Blog</a>
    <a href="/gallery" class="p-1 text-white bg-color1">Gallery</a>
</nav>